<% layout('./layouts/boilerplate') -%>

<body>
    <div class="row pt-1">
        <div class="card listing-card col-8 offset-2 fs-5">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-3">
                <form action="/listings" method="get">
                    <button class="btn btn-secondary pe-4 ps-4">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </form>
            </div>
            <h2><%= listingData.title %></h2>
            <img src="<%= listingData.image %>" class="card-img-top show-img .img-fluid show-img" alt="listingImg">
            <div class="card-body col-8 pt-2">
                <h5 class="card-title">
                    Owned By: <i><%= listingData.owner.username %></i>
                </h5>
                <p class="card-text">
                    <p class="card-text text-center"></p>
                    <%= listingData.description %> <br>
                    <b>Location: </b><%= listingData.location %> <br>
                    <b>Country:</b> <%= listingData.country %> <br>
                    <b>
                        &#8377;<%= listingData.price.toLocaleString('en-IN') %>
                    </b>/night
                </p>
            </div> 
            <% if(currentUser && listingData.owner._id.equals(currentUser._id)) {%>
            <div class="d-flex pt-4">
                <form action="/listings/<%= listingData._id %>/edit" method="get">
                    <button class="btn btn-primary pe-3 ps-3">Edit</button>
                </form>
                <form action="/listings/<%= listingData._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger mb-4 ps-3 pe-3 ms-3"><i class="fa-solid fa-trash"></i></button>
                </form>
            </div>
            <% } %>
            <hr>
        <div class="col-10 offset-1 fs-5 mb-2">
           <% if(currentUser){ %>
            <h4>Leave a Review :</h4>
            <form action='/listings/<%= listingData._id  %>/review' method="post" novalidate class="needs-validation">
                <div class="name col-6 mb-3 mt-3">
                    <div class="invalid-feedback">
                        Please enter some Valid Name for review
                    </div>
                </div>
                <div class="comment mb-3">
                    <label for="comment" id="comment" class="form-label fs-5">Comment</label>
                    <textarea name="review[comment]" id="comment" class="form-control" cols="10" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Please enter some comment for review
                    </div>
                </div>
                <div class="rating">
                    <label for="rating" id="rating" class="form-label fs-5">Rating</label>
                    <input type="range" name="review[rating]" class="form-range" min="1" max="5" >
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr>
            <% } %>
        </div>
      
        <div class="displayReview offset-1">
            <h4 class="mb-3 mt-2">Reviews:</h4>
            <div class="row ">
                <% for(review of listingData.reviews) {%>
                    <div class="card col-5 pb-2 ps-1 ms-3 me-1 mb-2">
                        <div class="card-body p-1">
                            <div class="row">
                                <h4 class="col-6 card-title m-1"><%= review.name %></h4>
                                <p class="card-text"><%= review.rating %> stars</p>
                            </div>
                            <p class="card-text"><%= review.comment %></p>
                            <form action="/listings/<%= listingData._id %>/review/<%= review._id %>?_method=DELETE" method="post">
                                <button class="btn btn-dark ps-3 pe-3 ms-2">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
          
        </div>
        </div>
    </div>
</body>
