<% layout('./layouts/boilerplate') -%>

<body>
    <h2>Detail of Listing: </h2>
    <button><a href="/listings/<%= listingData._id %>/edit">Edit</a></button>
    <button><a href="/listings">Back</a></button>
    <ul>
        <li>Title: <%= listingData.title %></li>
        <li>Description: <%= listingData.description %></li>
        <li>Price: &#8377;<%= listingData.price.toLocaleString('en-IN') %></li>
        <img src="<%= listingData.image %>" alt="">
        <li>Location: <%= listingData.location %></li>
        <li>Country: <%= listingData.country %></li>
    </ul>
</body>
